/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 #waveCont {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 10%;
 }

 #waveCont > div{
   background-image: url(http://www.clker.com/cliparts/G/r/C/i/S/Q/ocean-wave-md.png);
   background-repeat: repeat-x;
   background-size: contain;
   height: 100%;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
 }

 div#wave1{
   z-index: 2;
   opacity: .4;
   animation: wave 70s linear infinite;
   -webkit-animation: wave 90s linear infinite;
 }

 div#wave2{
   opacity: .7;
   height: 90%;
   background-position: 3%;
   animation: wave 50s linear infinite;
   -webkit-animation: wave 80s linear infinite reverse;
 }

 @keyframes wave{
   0% {background-position: 0%;}
   100% {background-position: 100%;}
 }

 @-webkit-keyframes wave{
    0% {background-position: 0%;}
    100% {background-position: 100%;}
 }
